<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/web/22.05.24/shared/errors/404.php" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="header.php" />
                    <add segment="footer.php" />
                </hiddenSegments>
            </requestFiltering>
        </security>
      <caching>
          <profiles>
              <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
              <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
              <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          </profiles>
      </caching>
    </system.webServer>
</configuration>
